body {
	background-color: #cccccc;
	font-family: arial,helvectia,sans-serif;
}
.bookHeadLine {
	font-size: 12pt;
	font-weight: bold;
}
.bookDescription {
	font-size: 10pt;
}
label {
	font-weight: bold;
}